vim.g.cf_tool = "codex" -- "codex" or "claude"
vim.g.cf_timeout_ms = 15 * 60 * 1000
vim.g.obsidian_path = "~/Obsidian/"
vim.g.supermaven_enabled = false

local node_host_prog = vim.fn.exepath("neovim-node-host")
if node_host_prog ~= "" then
	vim.g.node_host_prog = node_host_prog
end
