vim.g.ai = {
	tool = "codex", -- "codex", "claude", or "cursor"
	timeout_ms = 5 * 60 * 1000,
}
vim.g.claudecode_enabled = true -- Set to false to skip installing Claude Code integration.
vim.g.supermaven_enabled = false -- Set to true to install and enable Supermaven.

local node_host_prog = vim.fn.exepath("neovim-node-host")
if node_host_prog ~= "" then
	vim.g.node_host_prog = node_host_prog
end
